<ion-header [translucent]="false">
  <img src="../../assets/img/logo.png">
  <ion-back-button text="Volver" icon="arrow-back" defaultHref="inicio"></ion-back-button>
</ion-header>

<ion-content>
  <ion-content>
    <!-- List of Text Items -->
    <ion-list>
      <ion-item>
        <ion-label>Arquitectura</ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Asistencia 100%</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div>
                <h4>Clase 1</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <div>
                <hr>
              </div>
              <hr>
              <div>
                <h4>Clase 2</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <hr>
              <div>
                <h4>Clase 3</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-item>
      <ion-item>
        <ion-label>Ingles</ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Asistencia 100%</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div>
                <h4>Clase 1</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <div>
                <hr>
              </div>
              <hr>
              <div>
                <h4>Clase 2</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <hr>
              <div>
                <h4>Clase 3</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-item>
      <ion-item>
        <ion-label>Java</ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Asistencia 100%</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div>
                <h4>Clase 1</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <div>
                <hr>
              </div>
              <hr>
              <div>
                <h4>Clase 2</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <hr>
              <div>
                <h4>Clase 3</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-item>
      <ion-item>
        <ion-label>Matematicas</ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Asistencia 100%</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div>
                <h4>Clase 1</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <div>
                <hr>
              </div>
              <hr>
              <div>
                <h4>Clase 2</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
              <hr>
              <div>
                <h4>Clase 3</h4>
              </div>
              <div>
                <h6>Asistido</h6>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-item>
    </ion-list>

  </ion-content>