<ion-header style="padding-bottom: 20px; padding-top: 20px; background-color: rgb(0, 0, 120);">
  <div class="ion-text-center">
    <span style="font-size: 50px; font-weight: bold;">R</span>
    <span style="font-size: 50px; font-weight: bold;">e</span>
    <span style="font-size: 50px; font-weight: bold;">g</span>
    <span style="font-size: 50px; font-weight: bold;">i</span>
    <span style="font-size: 50px; font-weight: bold;">s</span>
    <span style="font-size: 50px; font-weight: bold;">t</span>
    <span style="font-size: 50px; font-weight: bold;">r</span>
    <span style="color: yellow; font-size: 50px; font-weight: bold;">A</span>
    <span style="color: yellow; font-size: 50px; font-weight: bold;">P</span>
    <span style="color: yellow; font-size: 50px; font-weight: bold;">P</span>
  </div>
</ion-header>

<ion-content>
  <ion-button expand="block" fill="clear" color="transparent" [routerLink]="['/registrapp']"> <ion-icon name="arrow-back"></ion-icon> Volver </ion-button>
  <ion-grid class="ion-text-center">
    <b style="font-size: 25px;">Datos de tu perfil</b>
  </ion-grid>
  <div style="padding: 15px;">
    <span style="font-size: 25px; font-weight: bold; color: rgb(134, 134, 134);">Email</span>
    <p>{{ email }}</p>
    <span style="font-size: 25px; font-weight: bold; color: rgb(134, 134, 134);">Nombre</span>
    <p>{{ nombre }}</p>
    <span style="font-size: 25px; font-weight: bold; color: rgb(134, 134, 134);">Rut</span>
    <p>{{ rut }}</p>
    <span style="font-size: 25px; font-weight: bold; color: rgb(134, 134, 134);">Rol</span>
    <p>{{ roles }}</p>
  </div>
</ion-content>