<ion-header [translucent]="false">
  <img src="../../assets/img/logo.png">
  <ion-item *ngFor="let usuario of lista_usuarios">
    <ion-label>
      <h2>Bienvenido: {{usuario.nombreUsuario}}</h2>
      <ion-button (click)="eliminar(usuario.nombreUsuario)" [routerLink]="['/home']" expand="block" fill="clear" color="transparent">
        <ion-icon name="arrow-back-outline"></ion-icon>Volver</ion-button>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Escanea un código QR y registra tu asistencia.
      <ion-button expand="block" color="warning" [routerLink]="['/scanearqr']">
        <ion-icon name="camera" class="ion-margin-end"></ion-icon>Escanear Código QR</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En esta sección podrás revisar porcentaje de asistencia y así no repetir por no ir a clases.
      <ion-button expand="block" color="warning" [routerLink]="['/asistenciaalumno']">
        <ion-icon name="image" class="ion-margin-end"></ion-icon>Ver asistencias</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
