<ion-header [translucent]="false">
  <img src="../../assets/img/logo.png">
  <ion-item *ngFor="let usuario of lista_usuarios">
    <ion-label>
      <h2>Bienvenido: {{usuario.nombreUsuario}}</h2>
      <ion-button (click)="eliminar(usuario.nombreUsuario)" [routerLink]="['/cursosdocente']" expand="block" fill="clear" color="transparent">
        <ion-icon name="arrow-back-outline"></ion-icon>Volver</ion-button>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  
  <ion-card>

    <ion-card-header>
      <ion-card-title>Generar Código QR</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Genera un código QR para que tus alumnos registren su asistencia.
      <ion-button expand="block" color="warning" [routerLink]="['/generarqr']">
        <ion-icon name="image" class="ion-margin-end"></ion-icon>Generar Código QR</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Ver asistencias alumnos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Podrás ver las asistencias de los alumnos en tus asignaturas
      <ion-button expand="block" color="warning" [routerLink]="['/asistencia']">
        <ion-icon name="image" class="ion-margin-end"></ion-icon>Ver asistencias</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
