<ion-header [translucent]="false">
  <img src="../../assets/img/logo.png">
  <ion-back-button text="Volver" icon="arrow-back" defaultHref="docenteinicio"></ion-back-button>
</ion-header>

<ion-content>
  <b>Se considera aprobado al Alumno que tenga un mínimo del 60% de asistencia</b>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-label> </ion-label>
      <ion-label>Asistencia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>William Fernandez</ion-label>
      <ion-badge color="danger"> 30% </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Tomas Gonzalez</ion-label>
      <ion-badge color="danger"> 60% </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Maria Becerra</ion-label>
      <ion-badge color="danger"> 20% </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Rosa Cabezas</ion-label>
      <ion-badge color="danger">0%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Cristian Garin</ion-label>
      <ion-badge color="danger">50%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Ignacio Quevedo</ion-label>
      <ion-badge color="danger">40%</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>