<ion-content>
  <div class="ion-text-center" style="margin-top: 30px;">
    <span style="font-size: 50px; font-weight: bold;">R</span>
    <span style="font-size: 50px; font-weight: bold;">e</span>
    <span style="font-size: 50px; font-weight: bold;">g</span>
    <span style="font-size: 50px; font-weight: bold;">i</span>
    <span style="font-size: 50px; font-weight: bold;">s</span>
    <span style="font-size: 50px; font-weight: bold;">t</span>
    <span style="font-size: 50px; font-weight: bold;">r</span>
    <span style="color: yellow; font-size: 50px; font-weight: bold;">A</span>
    <span style="color: yellow; font-size: 50px; font-weight: bold;">P</span>
    <span style="color: yellow; font-size: 50px; font-weight: bold;">P</span>
    <hr>
    <img src="..\assets\img\p404.png" alt="" width="300px">
    <h3>404. Esto es un error.</h3>
    <h4>La   URL solicitada no se encontró en este servidor. Eso es todo lo que sabemos.</h4>
    <ion-button expand="block" fill="clear"  [routerLink]="['/home']">Inicio</ion-button>
  </div>
  
</ion-content>
